 
{% extends 'base.html' %}
{% load static %}

{% block content %}


<div id="dogApp">

    

            <div class='container'>                
                <div  v-if="!imageFileUrl" class="row center">
                    <h3 class="header center dark-grey-text">
                        Upload a dog photo to get started!
                    </h3>            
                </div>

                <div class="row center">
                    <div class="col s12 m3 offset-m3">
                        <div class="file-field input-field">
                            <div class="waves-effect waves-light btn grey darken-4">
                                Upload a Dog Photo
                                <br>                 
                                <input id="uploadFile" type="file" name="uploadFile" @change=changeUploadFile>
                            </div>
                        </div>                            
                    </div>
                </div>
                <div class="row center">
                    <small>
                        File must be under 5mb, and .jpg/.jpeg formats are recommended.        
                    </small>
                </div>


                <div class="row center">
                    <div class="col s12 m3 offset-m3">
                        <img v-if="imageFileUrl" style="max-height:45vh" v-bind:src="imageFileUrl">
                    </div>
                </div>
                <div class="row">
                    <div v-if="imageFileUrl" class="col s12 m6 offset-m3">
                        <button class="waves-effect waves-light btn grey darken-4" @click="uploadFile">Submit</button>
                    </div>
                </div>
                <div class="row">
                    <div v-if="loading">
                        <div class='center-align'>
                            <div class="preloader-wrapper big active">
                                <div class="spinner-layer spinner-blue">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>

                                <div class="spinner-layer spinner-red">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>

                                <div class="spinner-layer spinner-yellow">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>

                                <div class="spinner-layer spinner-green">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div v-if="breed && !loading" class="col s12 m8 offset-m3 dark-grey-text" style="font-size:1.3em">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Breed</td>
                                    <td>[[breed]]  <i class="material-icons">pets</i></td>
                                </tr>
                                <tr>
                                    <td>Prediction Confidence Level</td>
                                    <td>[[probability]]%
                                        <i v-if="raw_probability > 75" class="material-icons">sentiment_very_satisfied</i>
                                        <i v-else-if="raw_probability > 60" class="material-icons">sentiment_satisfied</i>
                                        <i v-else-if="raw_probability > 35" class="material-icons">sentiment_neutral</i>
                                        <i v-else-if="raw_probability > 15" class="material-icons">sentiment_dissatisfied</i>
                                        <i v-else class="material-icons">sentiment_very_dissatisfied</i>
                                    </td>
                                </tr>
                                


                            </tbody>
                        <table>

    
                    </div>

                </div>
                
                
                

            </div>

            


        
    
    


</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script src="{% static 'materialize/js/materialize.min.js' %}" ></script>
<script src="{% static 'materialize/js/init.js' %}" ></script>



<script>

const healthCheckURL = "{% url 'dog_classifier_api_health_check' %}"
const authHealthCheckURL = "{% url 'dog_classifier_api_auth_health_check' %}"
const classifyURL = "{% url 'dog_classifier_api_classify' %}"


const app = new Vue({
    delimiters: ["[[", "]]"],
    el: "#dogApp",
    data: {
        
        imageFileUrl: null,
        breed: null,
        raw_probability: null,
        probability: null,
        
        messages: [],
        errorMessages: [],
        loading: false,
        
    },
    methods: {
        healthCheck: function(){
            axios.get(healthCheckURL).then(
                r => {
                    console.log(r)
                }
            ).catch(
                e => {
                    console.error(e)
                }
            )
            
        },
        authHealthCheck: function(){
            axios.get(authHealthCheckURL).then(
                r => {
                    console.log(r)
                }
            ).catch(
                e => {
                    console.error(e)
                }
            )
            
        },        
        classifyDog: function(){
            axios.post(classifyURL).then(
                r => {
                    console.log(r)
                    
                }
            ).catch(
                e => {
                    console.error(e)
                }
            )
            
        },
        changeUploadFile: function(e){
            let file = e.target.files[0]
            this.imageFileUrl = URL.createObjectURL(file)
            
        },
        
        uploadFile: function(){
            this.loading = true
            console.log("imageFileUrl: " + this.imageFileUrl)
            console.log("upload")
            let formData = new FormData()
            formData.append('file', document.getElementById("uploadFile").files[0])

            axios.post(classifyURL, formData).then(
                r => {
                    this.breed = r.data.breed
                    this.raw_probability = r.data.probability*100
                    this.probability = this.raw_probability.toFixed(2)
                    this.loading = false
                }
            ).catch(
                e => {
                    this.loading = false
                    alert("Failed")
                    console.error(e)
                    
                }
            )
        },
        clearForm: function(){            
            this.imageFileUrl = null
            this.breed = null
            this.probability = null
            this.messages = []
            this.errorMessages = []
            this.loading=false
        }
            

    },

    mounted:function(){
        //do this when mounted
        this.healthCheck()
        this.authHealthCheck()

        setTimeout(function(){
            
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);

            var elems = document.querySelectorAll('.sidenav');            
            var instances = M.Sidenav.init(elems);
        

        }, 3000)
            

        

        

    }

})

</script>



{% endblock %}