 
{% extends 'base.html' %}


{% block content %}


<div id="dogApp">

    

            <div class='container'>
                
                <div  v-if="!imageFileUrl" class="row center">
                    <h3 class="header center orange-text">
                        Upload a dog photo to get started!
                    </h3>
            
                </div>
                
                <div class="row center">
                    <div class="col s12 m3 offset-m3">
                            <div class="file-field input-field">
                                <div class="waves-effect waves-light btn">
                                    Upload a Dog Photo                            
                                    <input id="uploadFile" type="file" name="uploadFile" @change=changeUploadFile>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="row center">
                    <div class="col s12 m3 offset-m3">
                        <img v-if="imageFileUrl" style="max-height:50vh" v-bind:src="imageFileUrl">
                    </div>
                </div>
                <div class="row">
                    <div v-if="imageFileUrl" class="col s12 m3 offset-m3">
                        <button class="waves-effect waves-light btn" @click="uploadFile">Submit</button>
                        <button class="waves-effect waves-light btn" @click="clearForm">Reset Form</button>
                    </div>
                </div>
                <div class="row">
                    <div v-if="loading">
                        <div class='center-align'>
                            <div class="preloader-wrapper big active">
                                <div class="spinner-layer spinner-blue">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>

                                <div class="spinner-layer spinner-red">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>

                                <div class="spinner-layer spinner-yellow">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>

                                <div class="spinner-layer spinner-green">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div v-if="breed" class="col s12 m3 offset-m3">
                        <span>[[breed]] ([[probability]])</span>
                    </div>

                </div>
                
                
                

            </div>

            


        
    
    


</div>


<script>

const healthCheckURL = "{% url 'dog_classifier_api_health_check' %}"
const authHealthCheckURL = "{% url 'dog_classifier_api_auth_health_check' %}"
const classifyURL = "{% url 'dog_classifier_api_classify' %}"


const app = new Vue({
    delimiters: ["[[", "]]"],
    el: "#dogApp",
    data: {
        
        imageFileUrl: null,
        breed: null,
        probability: null,
        
        messages: [],
        errorMessages: [],
        loading: false,
    },
    methods: {
        healthCheck: function(){
            axios.get(healthCheckURL).then(
                r => {
                    console.log(r)
                }
            ).catch(
                e => {
                    console.error(e)
                }
            )
            
        },
        authHealthCheck: function(){
            axios.get(authHealthCheckURL).then(
                r => {
                    console.log(r)
                }
            ).catch(
                e => {
                    console.error(e)
                }
            )
            
        },        
        classifyDog: function(){
            axios.post(classifyURL).then(
                r => {
                    console.log(r)
                    
                }
            ).catch(
                e => {
                    console.error(e)
                }
            )
            
        },
        changeUploadFile: function(e){
            let file = e.target.files[0]
            this.imageFileUrl = URL.createObjectURL(file)
            
        },
        
        uploadFile: function(){
            this.loading = true
            console.log("imageFileUrl: " + this.imageFileUrl)
            console.log("upload")
            let formData = new FormData()
            formData.append('file', document.getElementById("uploadFile").files[0])

            axios.post(classifyURL, formData).then(
                r => {
                    this.breed = r.data.breed
                    let prob = r.data.probability*100
                    this.probability = prob.toFixed(3) + "% Confident"
                    this.loading = false
                }
            ).catch(
                e => {
                    this.loading = false
                    alert("Failed")
                    console.error(e)
                    
                }
            )
        },
        clearForm: function(){            
            this.imageFileUrl = null
            this.breed = null
            this.probability = null
            this.messages = []
            this.errorMessages = []
            this.loading=false
        }
            

    },
    computed: {


    },
    mounted:function(){
        //do this when mounted
        this.healthCheck()
        this.authHealthCheck()
    }

})

</script>
























{% endblock %}