 
{% extends 'base.html' %}
{% load socialaccount %}




{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center dark-grey-text">You must login to use this.</h1>


        <div class="row center">

            
        </div>

        <div class="row center">
        
            
            <a  href="{% provider_login_url 'google' %}"  class="btn-large waves-effect waves-light grey darken-4">Login with Google</a>
            
            
        </div>

        <br><br>

    </div>
</div>


{% endblock %}