 
{% extends 'base.html' %}


{% block content %}
<div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center dark-grey-text">Terms of Service</h1>
            <div class="row center">
            </div>

            {% comment %} <a href="javascript:void(0)" data-target="slide-out" class="sidenav-trigger"><i class="large material-icons">keyboard_arrow_right</i></a> {% endcomment %}

            
            <div class="row center">
            
                By using this app, you agree to pay me 15,000,000,000,000,000,000,000 USD. Thanks!

            </div>
    
            <br><br>

        </div>
</div>


{% endblock %}